*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

form{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    input{
        width: 50%;
        padding: 10px;
        border: none;
        outline: none;
        border: 1.50px solid rgb(0,0,0);
        border-radius: 3px;
    }

    input[type="text"]{
        animation: inputText 0.5s ease infinite;
        font-weight: bold;
        text-align: center;
    }

    @keyframes inputText{
        0%{color: rgb(255,0,0)}
        100%{color: rgb(0, 38, 255)}
    }

    .btn{
        width: 15%;
        padding: 10px;
        margin-left: 10px;
        text-transform: uppercase;
        font-weight: 500;
    }
}

.result1{
    margin-top: 35px;
    text-align: center;
    letter-spacing: 10px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

// imag list 
.container-fluid{
    margin-top: 120px;
    width: 100%;

    img{
        width: 100%;
        // height: 170px;
        border-radius: 3px;
        margin: 10px 0;
        // border: 2px solid rgb(0,0,0);
        padding: 5px;
    }

    .result{
        text-align: center;
    }
}